@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Chivo:wght@400;700&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;900&family=Roboto+Slab:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000d9;
    font-family: 'Chivo', sans-serif;
    color: white;   
}

body p {
    font-size: 15px;
}

body h6 {
    font-size: 17px;
}


/* HOMEPAGE */


    /* NAVBAR  */

    .navbar-brand {
        margin: 0;
    }

    .navbar-custom {
        background-color: inherit;
        width: 100%;

        font-family: 'Cinzel Decorative', cursive;

        z-index: 4;
    }

        .nav-item a:hover {
            background-color: #ff0101bf;
        }

        .nav-item a:active {
            background-color: #ff0101bf;
        }  
    
    
        #navbutton-div {
            float: left;
            margin-right: 15px;
        }

        #navbutton {
            position: fixed;
            top: 15;
            right: 10;
            
            z-index: 5;
        }


        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;

            /* background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9); */

            background-image: url("../img/Vn75gs.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;


            overflow-y: hidden;
            transition: 0.5s;
          }
          
          .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
          }

          .navbar-dark .navbar-nav .nav-link {
            color: rgb(255 255 255);
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: #ff0101bf;
          }
          
          .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
          }
          



    /* NAVBAR  */


    /* MAIN */


.hero-container {
    height: 95vh;

    background: url("../img/BW_DSC_0662.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    

    position: relative;
}

#homepage h6 {
    color: #dc3545;

    position: absolute;
    top: -25px;
}

.scroll-down {
    color: #dc3545;

    position: absolute;
    bottom: 5vh;
    

}

    .scroll-down:hover, .scroll-down:active {
        color: white;
    }

    .vertical-center {
        min-height: 100%;  /* Fallback for browsers that do NOT support vh unit */
        min-height: 100vh; 

        display: flex;
        align-items: center;
    }

  .jumbotron {
      background-color: #e9ecef00;
  }
    
    .jumbotron h1, .jumbotron h4    {
        text-transform: uppercase;
    }

    .jumbotron h1 {
        font-size: 50px;
    }


   /* MAIN */
   

/* HOMEPAGE */


/* PROFILE PAGE */


.chapter_title {
    background-color: #dc3545;
}

.chapter_title_2 {
    background-color: #00000000;
}

.chapter_title_3 {
    background-color: whitesmoke;
    color: black;
}

    .chapter_title h2 {
        text-align: center;
        line-height: 100vh;

        text-transform: uppercase;
        font-weight: bolder;

        font-family: 'Cinzel';
        font-size: 50px;
    }

.chapter_content {
    background-color: whitesmoke;
    color: black;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.chapter_content_2 {
    background-color: #dc3545;
    color: white;
}

.chapter_content_3 {
    background-color: #00000000;
    color: white;
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #444;

    justify-content: center;
}

#profile-img {
    background: url("../img/BW_Profile_IMG7.jpg") no-repeat center;
    background-size: cover;
    min-height: 250px;
    min-width: 250px;

    border-radius: 50%;
    border: 3px solid #444;
}

#skills {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.skill-title {
    font-size: 15px;
    text-align: left;
}
.skill-score {
    color: white;
    font-size: 12px;
}